body {
    font-family: $font;
}

.text_title {
    text-align: center;

    @include media-q {
        font-weight: 200%;
    }
}

 .sub_title {
     font-size: 1.20em;
     color: #3e3e3e;

     @include media-q {
         font-size: 2.25em;
     }
 }

.sub_title_box {
    font-size: 1em;
    color: #3e3e3e;

    @include media-q {
        font-size: 2em;
    }
}

.text_desc {
    text-align: center;
    color: #888;
    margin-bottom: 1.5em;
    line-height: 200%;
    font-size: 16px;
    padding: 5px;
    text-shadow: 1px 1px 0px #fff;

    @include media-q {
        font-size: 20px;
    }
}

.link_text {
    text-decoration: underline;
}
